:root {
  --blue-shade-10: rgba(82, 163, 244, 1);
  --blue-shade-20: rgba(54, 98, 227, 1);
  --blue-shade-40: rgba(42, 77, 208, 1);
  --blue-shade-80: rgb(17, 40, 122);
  --blue-shade-100: rgba(13, 18, 35, 1);

  --orange-shade-10: rgba(232, 123, 52, 1);
  --orange-shade-20: rgba(222, 107, 46, 1);
  --orange-shade-50: rgba(179, 74, 34, 1);

  --blue-200: rgba(112, 163, 244, 1);
  --blue-300: rgba(48, 74, 139, 1);
  --blue-400: rgba(28, 39, 74, 1);
  --blue-500: rgba(25, 33, 50, 1);
  --blue-600: rgba(5, 9, 25, 1);

  --grey-200: rgba(204, 208, 213, 1);
  --grey-300: rgba(57, 65, 80, 1);
  --grey-400: rgba(33, 41, 54, 1);

  --green-300: rgba(119, 219, 137, 1);
  --green-400: rgba(76, 161, 84, 1);
  --green-500: rgba(22, 42, 41, 1);

  --red-400: rgba(248, 113, 113, 1);
  --red-500: rgba(239, 68, 68, 1);

  --yellow-400: rgba(250, 204, 21, 1);
  --yellow-500: rgba(234, 179, 8, 1);

  --purple-500: rgba(168, 85, 247, 1);
  --purple-600: rgba(147, 51, 234, 1);
  --purple-800: rgba(107, 33, 168, 0.4);
  --purple-900: rgba(88, 28, 135, 0.4);
}

