:deep() {
  [bng-draggable] {
    // cursor: move;
    user-select: none;
    position: relative;
  }

  // target indicator
  // [bng-draggable].draggable-target {
  //   // position: relative;
  //   opacity: 0.5;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     height: 0.125rem;
  //     background: var(--bng-orange-300);
  //     width: calc(100% - 0.125rem);
  //     left: 0.125rem;
  //   }

  //   &::after {
  //     content: "";
  //     position: absolute;
  //     width: 0.5rem;
  //     height: 0.5rem;
  //     left: 0;
  //     border-radius: 50%;
  //     background: var(--bng-orange-300);
  //   }

  //   &.target-top {
  //     padding-top: 0.25rem;
  //     &::before {
  //       top: -0.25rem;
  //     }

  //     &::after {
  //       top: calc(-0.25rem - 0.125rem);
  //     }
  //   }

  //   &.target-bottom {
  //     padding-bottom: 0.25rem;
  //     &::before {
  //       bottom: -0.25rem;
  //     }

  //     &::after {
  //       bottom: calc(-0.25rem - 0.125rem);
  //     }
  //   }

  //   &.target-sub {
  //     padding-bottom: 0.25rem;
  //     &::before {
  //       left: 2rem;
  //       bottom: -0.25rem;
  //     }

  //     &::after {
  //       left: 2rem;
  //       bottom: calc(-0.25rem - 0.125rem);
  //     }
  //   }
  // }

  [bng-draggable-ghost] {
    position: absolute;
    // opacity: 0.5;
    user-select: none;
    cursor: move;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: var(--height);
    width: var(--width);
    border-radius: var(--bng-corners-1);
    animation-name: ghost-resize;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    transition: all;
    border: 4px dashed var(--bng-orange-b400);
    // transform-origin: top left;
  }

  @keyframes ghost-resize {
    from {
      // background: red;
      // height: 2rem;
    }
    to {
      // background: blue;
      // opacity: 0.7;
      // transform: scale(0.5) !important;
      // height: -1.5rem !important;
      transform: scale(0.5);
      // height: 1.5rem !important;
    }
  }
}
