@use "./modules/base";
@use "./modules/fonts";
@use "./modules/iconfont";
// @use "./modules/colors"; // included in App.vue
@use "./modules/focus";
@use "./modules/corners";
@use "./modules/layout";
@use "./modules/uiApps";
@use "./modules/tooltip";
@use "./modules/directives/draggable";

:deep() {
  // Globally set box-sizing
  * {
    box-sizing: border-box;
  }
}
