@use "sass:map";
@use "sass:color";

/* bng UI color palette v25.03.04 */
$colors: (

  /* bng-orange */
  "bng-orange-50": oklch(89.95% 0.0507 44.31),
  "bng-orange-100": oklch(85.01% 0.0868 43.66),
  "bng-orange-200": oklch(79.92% 0.1217 43.59),
  "bng-orange-300": oklch(75.09% 0.1582 43.51),
  "bng-orange-400": oklch(69.58% 0.2043 43.49),
  "bng-orange-b400": oklch(69.58% 0.2043 43.49),
  "bng-orange-500": oklch(61.95% 0.1801 43.40),
  "bng-orange-550": oklch(56.55% 0.1668 43.21),
  "bng-orange-600": oklch(50.51% 0.1451 43.53),
  "bng-orange-650": oklch(45.44% 0.1336 43.42),
  "bng-orange-700": oklch(38.44% 0.0956 43.08),
  "bng-orange-750": oklch(35.16% 0.0956 43.15),
  "bng-orange-800": oklch(28.97% 0.0645 43.49),
  "bng-orange-850": oklch(25.38% 0.0646 43.71),
  "bng-orange-900": oklch(20.90% 0.0458 42.68),

  /* bng-add-indigoblue */
  "bng-add-indigoblue-50": oklch(89.93% 0.0455 270.44),
  "bng-add-indigoblue-100": oklch(84.93% 0.0664 270.81),
  "bng-add-indigoblue-200": oklch(79.93% 0.0958 269.73),
  "bng-add-indigoblue-300": oklch(75.09% 0.1191 270.13),
  "bng-add-indigoblue-400": oklch(69.53% 0.1558 270.57),
  "bng-add-indigoblue-500": oklch(61.98% 0.194 264.13),
  "bng-add-indigoblue-550": oklch(56.62% 0.1935 264.07),
  "bng-add-indigoblue-600": oklch(50.50% 0.2303 263.99),
  "bng-add-indigoblue-650": oklch(45.40% 0.2301 264.03),
  "bng-add-indigoblue-700": oklch(38.72% 0.209 264.08),
  "bng-add-indigoblue-750": oklch(35.10% 0.2075 264.07),
  "bng-add-indigoblue-800": oklch(29.21% 0.153 263.94),
  "bng-add-indigoblue-850": oklch(25.31% 0.1447 263.94),
  "bng-add-indigoblue-900": oklch(21.14% 0.09 264.46),

  /* bng-add-blue */
  "bng-add-blue-50": oklch(89.99% 0.0458 250.36),
  "bng-add-blue-100": oklch(85.06% 0.0657 250.00),
  "bng-add-blue-200": oklch(79.82% 0.0957 250.46),
  "bng-add-blue-300": oklch(75.01% 0.1197 250.37),
  "bng-add-blue-400": oklch(69.66% 0.1552 249.82),
  "bng-add-blue-500": oklch(62.03% 0.1752 249.92),
  "bng-add-blue-550": oklch(56.44% 0.1604 250.14),
  "bng-add-blue-600": oklch(50.57% 0.1426 249.87),
  "bng-add-blue-650": oklch(45.36% 0.1286 250.07),
  "bng-add-blue-700": oklch(39.24% 0.1108 250.38),
  "bng-add-blue-750": oklch(35.10% 0.0997 250.12),
  "bng-add-blue-800": oklch(29.26% 0.0828 249.97),
  "bng-add-blue-850": oklch(25.26% 0.072 250.26),
  "bng-add-blue-900": oklch(21.09% 0.0608 250.69),

  /* bng-add-babyblue */
  "bng-add-babyblue-50": oklch(89.95% 0.0302 220.60),
  "bng-add-babyblue-100": oklch(84.88% 0.0508 218.77),
  "bng-add-babyblue-200": oklch(79.88% 0.0804 219.66),
  "bng-add-babyblue-300": oklch(75.15% 0.1039 219.01),
  "bng-add-babyblue-400": oklch(69.50% 0.1152 219.90),
  "bng-add-babyblue-500": oklch(62.00% 0.1091 225.82),
  "bng-add-babyblue-550": oklch(56.49% 0.1079 225.90),
  "bng-add-babyblue-600": oklch(50.34% 0.0902 230.64),
  "bng-add-babyblue-650": oklch(45.49% 0.0902 230.21),
  "bng-add-babyblue-700": oklch(38.79% 0.0692 229.40),
  "bng-add-babyblue-750": oklch(35.08% 0.0689 228.64),
  "bng-add-babyblue-800": oklch(29.29% 0.0444 230.44),
  "bng-add-babyblue-850": oklch(25.27% 0.0437 229.30),
  "bng-add-babyblue-900": oklch(21.35% 0.035 229.45),

  /* bng-ter-blue-gray */
  "bng-ter-blue-gray-50": oklch(90.91% 0.0253 236.85),
  "bng-ter-blue-gray-100": oklch(84.61% 0.0401 237.66),
  "bng-ter-blue-gray-200": oklch(79.18% 0.0449 237.77),
  "bng-ter-blue-gray-300": oklch(75.20% 0.0504 237.14),
  "bng-ter-blue-gray-400": oklch(68.49% 0.0497 236.83),
  "bng-ter-blue-gray-500": oklch(61.99% 0.0499 237.81),
  "bng-ter-blue-gray-550": oklch(56.57% 0.0497 236.72),
  "bng-ter-blue-gray-600": oklch(50.52% 0.0493 238.62),
  "bng-ter-blue-gray-650": oklch(45.54% 0.049 237.59),
  "bng-ter-blue-gray-700": oklch(38.57% 0.0507 243.31),
  "bng-ter-blue-gray-750": oklch(35.11% 0.0508 241.64),
  "bng-ter-blue-gray-800": oklch(28.86% 0.0449 246.22),
  "bng-ter-blue-gray-850": oklch(25.28% 0.0458 246.90),
  "bng-ter-blue-gray-900": oklch(20.87% 0.041 250.25),

  /* bng-cool-gray // */
  "bng-cool-gray-50": oklch(90.05% 0.0143 268.48),
  "bng-cool-gray-100": oklch(85.10% 0.0205 267.26),
  "bng-cool-gray-200": oklch(79.85% 0.0266 268.79),
  "bng-cool-gray-300": oklch(75.07% 0.0256 267.86),
  "bng-cool-gray-400": oklch(69.63% 0.0244 269.34),
  "bng-cool-gray-500": oklch(62.05% 0.0251 269.28),
  "bng-cool-gray-550": oklch(56.63% 0.0257 269.23),
  "bng-cool-gray-600": oklch(50.63% 0.0185 266.15),
  "bng-cool-gray-650": oklch(45.59% 0.0175 264.39),
  "bng-cool-gray-700": oklch(39.47% 0.0193 269.65),
  "bng-cool-gray-750": oklch(34.91% 0.0199 269.56),
  "bng-cool-gray-800": oklch(28.94% 0.0152 269.15),
  "bng-cool-gray-850": oklch(25.24% 0.0158 269.05),
  "bng-cool-gray-900": oklch(20.96% 0.0166 268.85),

  /* bng-add-magenta */
  "bng-add-magenta-50": oklch(90.60% 0.0454 327.08),
  "bng-add-magenta-100": oklch(85.02% 0.1007 326.42),
  "bng-add-magenta-200": oklch(79.79% 0.1667 326.63),
  "bng-add-magenta-300": oklch(75.05% 0.2348 326.77),
  "bng-add-magenta-400": oklch(69.64% 0.2907 326.50),
  "bng-add-magenta-500": oklch(62.12% 0.2803 326.53),
  "bng-add-magenta-550": oklch(56.46% 0.2621 326.42),
  "bng-add-magenta-600": oklch(50.47% 0.2144 326.45),
  "bng-add-magenta-650": oklch(45.48% 0.211 326.54),
  "bng-add-magenta-700": oklch(39.61% 0.1601 326.12),
  "bng-add-magenta-750": oklch(34.96% 0.1604 326.29),
  "bng-add-magenta-800": oklch(29.25% 0.108 327.13),
  "bng-add-magenta-850": oklch(25.14% 0.1068 326.53),
  "bng-add-magenta-900": oklch(20.97% 0.0712 326.48),

  /* bng-add-red */
  "bng-add-red-50": oklch(89.99% 0.0442 31.88),
  "bng-add-red-100": oklch(85.03% 0.0641 30.47),
  "bng-add-red-200": oklch(80.05% 0.0952 30.53),
  "bng-add-red-300": oklch(75.06% 0.136 30.45),
  "bng-add-red-400": oklch(69.66% 0.1852 30.47),
  "bng-add-red-500": oklch(61.97% 0.2194 30.58),
  "bng-add-red-550": oklch(56.54% 0.2191 30.65),
  "bng-add-red-600": oklch(50.48% 0.17 30.36),
  "bng-add-red-650": oklch(45.53% 0.1702 30.37),
  "bng-add-red-700": oklch(38.35% 0.125 30.55),
  "bng-add-red-750": oklch(34.99% 0.1244 30.82),
  "bng-add-red-800": oklch(28.94% 0.0846 30.22),
  "bng-add-red-850": oklch(25.16% 0.0848 29.92),
  "bng-add-red-900": oklch(20.92% 0.0296 33.94),

  /* bng-ter-peach */
  "bng-ter-peach-50": oklch(90.13% 0.0545 83.43),
  "bng-ter-peach-100": oklch(85.03% 0.0746 82.68),
  "bng-ter-peach-200": oklch(79.85% 0.0944 82.85),
  "bng-ter-peach-300": oklch(75.18% 0.1002 83.45),
  "bng-ter-peach-400": oklch(68.57% 0.1043 83.36),
  "bng-ter-peach-500": oklch(61.92% 0.0995 82.96),
  "bng-ter-peach-550": oklch(56.50% 0.0993 83.23),
  "bng-ter-peach-600": oklch(50.53% 0.0857 83.72),
  "bng-ter-peach-650": oklch(45.52% 0.0858 84.21),
  "bng-ter-peach-700": oklch(38.47% 0.0699 84.28),
  "bng-ter-peach-750": oklch(35.12% 0.07 83.85),
  "bng-ter-peach-800": oklch(29.15% 0.0502 82.32),
  "bng-ter-peach-850": oklch(25.14% 0.0505 81.63),
  "bng-ter-peach-900": oklch(20.91% 0.0392 81.84),

  /* bng-ter-yellow */
  "bng-ter-yellow-50": oklch(90.11% 0.1706 100.06),
  "bng-ter-yellow-100": oklch(84.95% 0.1649 100.05),
  "bng-ter-yellow-200": oklch(81.51% 0.1549 100.13),
  "bng-ter-yellow-300": oklch(75.95% 0.1449 99.77),
  "bng-ter-yellow-400": oklch(69.54% 0.1351 99.90),
  "bng-ter-yellow-500": oklch(61.96% 0.1202 100.15),
  "bng-ter-yellow-550": oklch(56.56% 0.1178 100.54),
  "bng-ter-yellow-600": oklch(50.35% 0.0952 100.10),
  "bng-ter-yellow-650": oklch(45.45% 0.0945 100.04),
  "bng-ter-yellow-700": oklch(38.07% 0.075 100.01),
  "bng-ter-yellow-750": oklch(35.10% 0.0729 99.66),
  "bng-ter-yellow-800": oklch(29.12% 0.0555 100.29),
  "bng-ter-yellow-850": oklch(25.11% 0.0521 99.52),
  "bng-ter-yellow-900": oklch(20.69% 0.0354 101.39),

  /* bng-add-green */
  "bng-add-green-50": oklch(90.99% 0.1203 153.50),
  "bng-add-green-100": oklch(85.08% 0.1549 153.16),
  "bng-add-green-200": oklch(79.81% 0.1703 153.54),
  "bng-add-green-300": oklch(75.10% 0.1553 153.18),
  "bng-add-green-400": oklch(69.59% 0.1416 153.15),
  "bng-add-green-500": oklch(62.09% 0.1266 153.22),
  "bng-add-green-550": oklch(56.46% 0.115 153.51),
  "bng-add-green-600": oklch(50.33% 0.1042 153.31),
  "bng-add-green-650": oklch(45.42% 0.0855 152.96),
  "bng-add-green-700": oklch(38.04% 0.0688 153.66),
  "bng-add-green-750": oklch(34.86% 0.0583 154.06),
  "bng-add-green-800": oklch(29.81% 0.0461 152.65),
  "bng-add-green-850": oklch(25.08% 0.0444 154.50),
  "bng-add-green-900": oklch(21.10% 0.0256 153.54),

  /* base off-black and off-white */
  "bng-off-black": oklch(17% 0 0),
  "bng-off-white": oklch(92.5% 0 0),
  "bng-off-white-brighter": oklch(97% 0 0),
);

@mixin bng-colors() {
  @each $name, $color in $colors {
    $red: color.channel($color, "red", $space: rgb);
    $green: color.channel($color, "green", $space: rgb);
    $blue: color.channel($color, "blue", $space: rgb);
    --#{$name}: #{$color};
    --#{$name}-rgb: #{$red}, #{$green}, #{$blue};
  }

  /* Handy additional color presets */
  --bng-gradient-orange: linear-gradient(to right,#b34700, #ff6600);
  --bng-filter-orange: invert(49%) sepia(74%) saturate(3850%) hue-rotate(0deg) brightness(101%) contrast(106%);
  --bng-black-o8: rgba(0, 0, 0, 0.8);
  --bng-black-o6: rgba(0, 0, 0, 0.6);
  --bng-black-o4: rgba(0, 0, 0, 0.4);
  --bng-black-o2: rgba(0, 0, 0, 0.2);
  --bng-orange-400: var(--bng-orange-b400);
}
