/* Global focus styles - overrides/specifics for individual components focusing should probably be done in the component's Vue file */
@use "@/styles/modules/variables/z-index" as *;

// should be global (but remember that it still scoped under the main vue element)
:deep(*) {

&:focus {
  outline: none;
}

// see also crossfire.js service
//&:focus-visible, // not working in current cef and if uncommented - will break the selector
&.focus-visible { // this class comes from polyfill
  &:not(.no-focus-visible),
  &:not(.no-focus-frame) {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -4px;
      bottom: -4px;
      left: -4px;
      right: -4px;
      border-radius: 6px;
      border: 2px solid var(--bng-orange-b400);
      pointer-events: none;
      z-index: $focus !important;
    }
  }
}

// disable for ui apps
&.bng-app *:focus::before {
  content: none;
}

}
