// BNG UI Fonts
// --------------------------------------

$font_path: "/ui/ui-vue/src/assets/fonts";

:deep() {
  --fnt-defs: "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC", sans-serif;
  --fnt-mono: "Overpass Mono", "Noto Sans Mono", var(--fnt-defs);
}

@font-face {
  font-family: "Overpass";
  src: url("#{$font_path}/Overpass/Overpass-VariableFont_wght.ttf");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url("#{$font_path}/Overpass/Overpass-Italic-VariableFont_wght.ttf");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: italic;
}

/* Secondary font (to be used in UI) */

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-VariableFont_wdth,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 62.5 100;
}

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-Italic-VariableFont_wdth,wght.ttf");
  font-weight: 100 900;
  font-style: italic;
  font-variation-settings:
    "wdth" 62.5 100;
}

/* Set of fonts to fill the gaps for the hieroglyphic languages */

@font-face {
  font-family: "Noto Sans JP";
  src: url("#{$font_path}/NotoSans/NotoSansJP-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("#{$font_path}/NotoSans/NotoSansJP-Black.otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("#{$font_path}/NotoSans/NotoSansJP-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("#{$font_path}/NotoSans/NotoSansJP-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("#{$font_path}/NotoSans/NotoSansJP-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("#{$font_path}/NotoSans/NotoSansKR-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("#{$font_path}/NotoSans/NotoSansKR-Black.otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("#{$font_path}/NotoSans/NotoSansKR-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("#{$font_path}/NotoSans/NotoSansKR-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("#{$font_path}/NotoSans/NotoSansKR-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("#{$font_path}/NotoSans/NotoSansSC-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("#{$font_path}/NotoSans/NotoSansSC-Black.otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("#{$font_path}/NotoSans/NotoSansSC-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("#{$font_path}/NotoSans/NotoSansSC-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("#{$font_path}/NotoSans/NotoSansSC-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Monospace font just in case */

@font-face {
  font-family: "Noto Sans Mono";
  src: url("#{$font_path}/NotoSans/NotoSansMono-VariableFont_wdth,wght.ttf");
  font-weight: 100 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: "Overpass Mono";
  src: url("#{$font_path}/OverpassMono/OverpassMono-VariableFont_wght.ttf");
  font-weight: 100 950;
  font-style: normal;
}
