// BNG UI Icon Font
// --------------------------------------

$font_path: "/ui/ui-vue/src/assets/fonts";

@font-face {
  font-family: "bngIcons";
  src:
    url("#{$font_path}/bngIcons/bngIcons.woff2") format("woff2"),
    url("#{$font_path}/bngIcons/bngIcons.woff") format("woff"),
    url("#{$font_path}/bngIcons/bngIcons.otf") format("opentype"),
    url("#{$font_path}/bngIcons/bngIcons.ttf") format("truetype");
  font-display: block;
  font-weight: 500;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  // unicode-range: U+BEA00-BEFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
