@use "@/styles/modules/density" as *;

:deep() {

/* Layout */

--safezone-new-info-bar: 4.75em;
--safezone-topbar: 2.75em;
// content
.layout-wrapper {
  position: absolute;
  display: flex;

  &.layout-content-full {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

}
// alignment
.layout-content {
  &.layout-align-hcenter, &.layout-align-center {
    justify-content: center;
  }
  &.layout-align-vcenter, &.layout-align-center {
    align-items: center;
  }
  &.layout-align-start {
    align-items: flex-start;
  }
  &.layout-align-end {
    align-items: flex-end;
  }
  &.layout-align-hstart {
    justify-content: flex-start;
  }
  &.layout-align-hend {
    justify-content: flex-end;
  }
  &.layout-paddings {
    padding: $vsafezone $hsafezone; // These should be adjustable to surve as safe-zones for some screens
  }
  &.flex-column {
    flex-flow: column;
  }
}

}