@use "sass:math";
@use "sass:list";
@use "sass:meta";
@use "@/styles/modules/density" as *;

@mixin test {
  border: 2px solid #f00;
}

@mixin modify-focus($border-add, $f-offset) {
  &:focus,
  // &:focus-visible,
  &.focus-visible {
    &::before {
      top: -$f-offset;
      bottom: -$f-offset;
      left: -$f-offset;
      right: -$f-offset;
      border-radius: calc(#{$border-add} + #{$f-offset});
    }
  }
}

@mixin rounded-clip($outer-rad, $inner-rad: none, $outer-offset: none) {
  /// calculate rounded corners, in and out
  $corner-detail: 5; // number of points to make a curve, minus one

  $h-rad: $outer-rad;
  $h-pad: 0;

  // positions and starting angles
  $corner-sequence: ();
  @if $inner-rad == none {
    $corner-sequence:
      // outer - CW
      out $h-rad $h-rad 0deg none,
      out calc(100% - $h-rad) $h-rad 90deg none,
      out calc(100% - $h-rad) calc(100% - $h-rad)  180deg none,
      out $h-rad calc(100% - $h-rad) 270deg none;
  } @else {
    $h-rad: $outer-rad + $outer-offset;
    $h-pad: calc($outer-offset - $inner-rad / pi);
    $corner-sequence:
      // outer - CW
      out $h-rad $h-rad 0deg save,
      out calc(100% - $h-rad) $h-rad 90deg none,
      out calc(100% - $h-rad) calc(100% - $h-rad)  180deg none,
      out $h-rad calc(100% - $h-rad) 270deg append,
      // inner - CCW
      in calc($h-pad + $inner-rad) calc($h-pad + $inner-rad) 360deg save,
      in calc($h-pad + $inner-rad) calc(100% - $h-pad - $inner-rad) 270deg none,
      in calc(100% - $h-pad - $inner-rad) calc(100% - $h-pad - $inner-rad)  180deg none,
      in calc(100% - $h-pad - $inner-rad) calc($h-pad + $inner-rad) 90deg append;
  }

  $corners: (); // result
  $corner-connect: (); // for save and append operations
  @each $nfo in $corner-sequence {
    $type: list.nth($nfo, 1);
    $x1: list.nth($nfo, 2);
    $y1: list.nth($nfo, 3);
    $deg: list.nth($nfo, 4);
    $connect: list.nth($nfo, 5);
    $start: 0;
    $end: $corner-detail;
    $radius: $h-rad;
    @if $type == in {
      $start: $corner-detail;
      $end: 0;
      $radius: $inner-rad;
    }
    @for $i from $start through $end {
      $d: calc($deg + 90deg / $corner-detail * $i);
      $x2: $radius * math.cos($d);
      $y2: $radius * math.sin($d);
      $corner: calc($x1 - $x2) calc($y1 - $y2);
      // @debug $d, $corner;
      $corners: list.append($corners, $corner, $separator: comma);
      @if $connect == save {
        // save first point
        $corner-connect: $corner;
        $connect: 0;
      }
    }
    @if $connect == append {
      // connect with the first point
      $corners: list.append($corners, $corner-connect, $separator: comma);
    }
  }
  // @debug $corners;
  clip-path: polygon($corners);
}

@mixin calculate-z-index($base-z-variable, $offset-z-value, $multiplier: 0) {
  @if meta.type-of($base-z-variable) == 'number' and meta.type-of($offset-z-value) == 'number' and meta.type-of($multiplier) == 'number' {
    z-index: $base-z-variable + ($offset-z-value * $multiplier);
  } @else {
    z-index: calc(#{$base-z-variable} + #{$offset-z-value * $multiplier});
  }
}

@mixin set-ui-rem($base-rem: 16px) {
  --ui-rem: #{$base-rem};                 // 16
  @media screen and (max-width: 1500px), screen and (max-height: 900px) {
    --ui-rem: #{calc($base-rem * 0.875)}; // 14
  }
  @media screen and (max-width: 1400px), screen and (max-height: 800px) {
    --ui-rem: #{calc($base-rem * 0.75)};  // 12
  }
  @media screen and (max-width: 1100px), screen and (max-height: 700px) {
    --ui-rem: #{calc($base-rem * 0.625)}; // 10
  }
  @media screen and (max-width: 940px), screen and (max-height: 600px) {
    --ui-rem: #{calc($base-rem * 0.5)};   // 8
  }
  @media screen and (max-width: 760px), screen and (max-height: 500px) {
    --ui-rem: #{calc($base-rem * 0.375)}; // 6
  }
}

@function calc-ui-rem($rem: 1, $base-rem: 16px) {
  @if $rem == 1 {
    @return var(--ui-rem, #{$base-rem});
  } @else {
    @return calc(var(--ui-rem, #{$base-rem}) * #{$rem});
  }
}
