:deep() {
  [data-bng-tooltip] {
    position: absolute;
    background: #333;
    top: 0;
    left: 0;
    width: max-content;
    padding: 0.25rem 0.5rem;
    color: white;
    font-weight: bold;
    border-radius: var(--bng-corners-1);
    font-size: 0.8rem;
    z-index: 10000;
    pointer-events: none;

    [data-bng-tooltip-arrow] {
      position: absolute;
      width: 1rem;
      height: 1rem;
      background: inherit;
      transform: rotate(45deg);
      z-index: -1;
      pointer-events: none;
    }

    [data-bng-tooltip-content] {
      display: inline-block;
      border-radius: calc(var(--bng-corners-1) * 0.5);
      pointer-events: none;
    }
  }

  [data-bng-popup] {
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    z-index: 1000;

    > :first-child {
      background: #333;
      border-radius: var(--bng-corners-1);
    }

    [data-bng-popup-arrow] {
      position: absolute;
      display: inline-block;
      width: 1rem;
      height: 1rem;
      background: #333;
      transform: rotate(45deg);
      z-index: -1;
    }
  }
}
