// NOT enclosed in :deep() for now because styles aren't being applied 
// likely due to app not located under vue root dom
// TODO: enclose in :deep() once angular js code has been removed
.bng-app {
    color: white;
    background: var(--bng-black-o4);
    box-sizing: border-box;
    padding: 0.125em;
    width: 100%;
    height: 100%;
}