body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

#mapContainer {
  overflow: visible;
}
#mapContainer > svg {
  overflow: visible;
}

#mapPerspective {
  transform: rotateX(50deg);
}

#map {
  max-width: 256px;
  max-height: 128px;
  overflow: visible;
}

#pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 20px 6px;
  border-color: transparent transparent #2568B0 transparent;
  stroke: 2px solid white;
}

#bootscreen {
  position: absolute;
  width: 256px;
  height: 128px;
  bottom: 0;
  left: 0;
  z-index: 97;
  background-image: url("/vehicles/common/navigator_bootscreen.png");
  background-color: black;
  background-size: cover;
  transition: opacity 2s, transform 1.5s;
}

.fadeout {
  opacity: 0;
  /* transform: scale(2, 2); */
}
.fadein {
  opacity: 1;
  /* transform: scale(2, 2); */
}
